body{
    margin:auto;
    text-align: center;
    font-size: 150%;
}
#fruList{
    display: flex;
     flex-wrap:wrap;
    gap:17%;
  
    align-items: baseline;
    list-style-type: none;
}
h3{
    text-align: center;
}
img{
    display: block;
    border-radius: 50%;
}
#vegList{
    display: flex;
    flex-wrap:wrap;
    align-items: baseline;
    gap:17%;
    list-style-type: none;
}
